<div id="page">
	<div id="contenta">
		<h1>Ensino à distancia</h1>
		<h2>O melhor ensino!</h2>
	</div>
	<div class="hero-unit">
        	<h1>Cursos Diversos</h1>
        	<h2>Em producao</h2>
        	<br />
        	<h3><a href="#" id="about_env_link">Em desenvolvimento</a></h3>
	</div>
    	<br />
	<ol>          
        	<li>
			<h2>Faça conosco seu site!</h2>
			<p>Seu site pronto <tt>rápido, bonito e seguro</tt></p>
          	</li>
        </ol>
</div>
